<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

<head>
    <title>{{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=#CHARSET"/>
    <meta name="author" content="Lionel et Annie CATANZARITI"/>
    <meta name="description" content="#NOM_SITE_SPIP"/>
    <meta name="keywords" content="médecine,traditionnelle,chinoise,qi gong,qi,gong,qigong,posturologie,massothérapie,massages,chinois"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>

<body>

<div id="titre">
    {{ site.title }}
</div> <!--id="titre"-->

<div id="menu">
    <ul>
        <li><a href="medecine_energetique.html">Médecine énergétique</a></li>
        <li><a href="posturologie_clinique.html">Posturologie clinique</a></li>
        <li><a href="qigong.html">Qi-Gong</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div> <!--id="menu"-->
